.fable/
fable_modules/
.fake/
.farmer/
.idea/
.ionide/
.vs/
deploy/
obj/
bin/
packages/
paket-files/
node_modules/
release.cmd
release.sh
*.orig
*.fsproj.user
*.DotSettings.user
*.fs.js
/src/Server/.init
/src/Server/init.sql
*bundle.js*
*.js.map
/src/Server/public/incremental.js
/src/Server/public/tools.js
/src/Server/public/wplace.js
/src/Server/SMTPToken
./src/Server/log.txt
/src/Server/log.txt
src/Server/data.db
