* {
    box-sizing: border-box;
}
input-grid {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-column-gap: 20px;

    details {
        grid-column: span 2;
        display: flex;
        flex-direction: column;
    }
}
input:has(+ details > error-label) {
    border-color: red;
}